@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #000000;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('/fonts/AzeretMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('/fonts/AzeretMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('/fonts/AzeretMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('/fonts/AzeretMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Azeret Mono', monospace;
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}